.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
  text-decoration: none;
  color: white;
}
.footer__column-link:hover {
  opacity: 0.5;
  transition: all 0.4s;
}
